$background-colorheader: #16161a;
$background-colormain:  #3C71CC;
$background-colorfooter: #72757e;
$colorlogoh1:#00C6C2;
$fontfamilymedia: 'K2D', sans-serif;
$fontfamilyh1: 'K2D', sans-serif;
$fontfamilytext:'Edu NSW ACT Foundation', cursive;