.footer-index {
    width: 100%;
    height: 250px;
    background-color: $background-colorfooter;
}

.parrafe {
    @include parrafo (40px, $fontfamilyh1, $colorlogoh1)
}

.parrafeemail {
    @include parrafo (30px, $fontfamilytext, #16161a);
    display: flex;
    justify-content: end;
}

.logosfooter {
    display: flex;
    flex-direction: row; 
    padding: 25px 15px; 
    li a {
        text-decoration: none;
    }
    li  {
        list-style: none;
    }
}

.logosfoo {
    margin: 10px;
}
