.header-index {
    background-image: linear-gradient(to bottom, #16161a, #36333C, #5A5361);
    @include grid (grid, 100%, 350px, repeat(3, 1fr), repeat(2, 1fr));
    
}

.logoprincipal {
    @include ancholargo (150px, 150px);
    margin: 20px;
    @include grid-item (1, 2, 1, 2);
    border-radius: 50%;
}

.header-index h1 {
    @include parrafo (80px, $fontfamilyh1, #fffffe);
    @include grid-item (2, 3, 1, 2);
    display: flex;
    justify-content: center;
    align-items: center
    /*display: flex;
    align-items: center;*/
    }

.parrafoindex {
    @include parrafo (35px, $fontfamilytext, $colorlogoh1);
    @include grid-item (2, 3, 2, 3);
    text-align: center;
    margin:20px
}

.logoindex {
    @include ancholargo (30px, 30px);
    @include grid-item (3, 4, 2, 3);
    gap:-10px;
    margin:20px
}

.logoin {
    margin: 20px;
}

.logoindex {
    width: 100%;
    display: flex;
    justify-content: end;
    
}

