main {
    background-color:$background-colormain;
}

            /*MAIN DEL INDEX */

    .card{ 
        border-radius: 50px; 
        margin: 20px;
    }

    .card:hover {
        transform: scale(1.5)
    }

    .textindex{ 
        @include parrafo (25px, $fontfamilyh1, #16161a);
        text-align: center; 
    }
    
    .textindex::first-letter {
        @include parrafo (50px, $fontfamilyh1,rgb(41, 41, 240));
    }
    
    .imageindex1 {
        border-radius: 40px;
    }
    
    .maingrid {
        @include grid (grid, 100%, 1250px, repeat(6, 1fr), repeat(8, 1fr))
    }
    
    .item1 {
        /*navbar*/ @include grid-item (1, 2, 3, 4);
        align-self: center;
    }
        
    .item2 {
        /*imaganes de artistas*/ @include grid-item (1, 7, 1, 2); 
        @include flex (none, 150px, none, flex, space-between, center)
    }

    
    .item3 {/*textoprincipal*/ 
        @include grid-item (2, 4, 3, 4);
        display: flex;
        align-items: center;
    }
    
    .item4 {
        /* imagen principal*/ @include grid-item (5, 7, 2, 7)
    }
    
    .item5 { 
        /*texto de fondo*/ @include grid-item  (4, 5, 6, 8);
        @include parrafo (25px, $fontfamilytext, #15A7B4);
    }
    
    .item6 { 
        /*imagen de fondo*/ @include grid-item (5, 6, 8, 9);
    }

        
        /*Main de Album*/
    
    .albumgrid { /*grid de la pagina album*/ 
        @include grid ( grid, 100%, 2000px, repeat(3, 1fr,), repeat(6, 1fr))
    }
    
    .albumnav { /* nav bar de la pagina album*/
        @include grid-item ( 1 , 2, 1 , 2) 
    }
    
    .albuminicio { /* introduccion de la pagina album*/  
        @include grid-item ( 2 , 4, 1 , 2);
        @include parrafo (25px, $fontfamilyh1, none);
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
        } 
        /* card o secciones de la pagina album */
    .albuminicio ::first-letter {
            @include parrafo (50px, $fontfamilyh1,rgb(41, 41, 240));
    }

    
        
    .alcar { /*Sección secunario dnde se desgloza el album, su imagen y breve reseña musical*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        padding: 1px 30px; 
        }
        
    .alcar article { 
        @include parrafo (30px, $fontfamilyh1, #16161a ) 
        }

    .alcar p {
        @include parrafo (35px, $fontfamilytext, red)
        }
    
    .alcar img:hover {
        transform: rotate(40deg);
    }
    .albumcard1 { 
        @include grid-item (1 , 4, 2 , 3) 
    }

    .albumcard2 { 
        @include grid-item (1 , 4,  3, 4) 
    }

    .albumcard3 { 
        @include grid-item (1 , 4, 4 , 5) 
    }

    .albumcard4 { 
        @include grid-item (1 , 4, 5 , 6) 
    }

    .albumcard5 { 
        @include grid-item (1 , 4, 6 , 7) 
    }


            /*MAIN de Records*/
    
    .record-index { /*Grid de la pagina record*/
        @include grid (grid, 100%, 3100px, repeat(4, 1fr), repeat(4, 1fr))
    }

    .record-index h1 { /*texto inicial de la pagina*/
        @include parrafo (27px, $fontfamilyh1, #16161a)
    }

    .record-index h1::first-letter{ 
        @include parrafo (40px, none, rgb(41, 41, 240))
    }

    .record-index article { /*texto de la descripcion de los diferentes records*/
        @include parrafo (30px, $fontfamilytext, #16161a)
    }

    .record-inicio { 
        @include flex (100%, 200px, none, flex, none, none);
        gap: 10px;
        flex-direction: row;
        align-self: center;
        text-align: center;
        @include grid-item (2 , 5, 1 , 2);
        }

    .imgrecordinicio { /*imagen del inicio*/
        width: 25%;
        border-radius: 10%;
    }
    
    .navbar-record { 
        @include grid-item ( 1 , 2, 1 , 2);
        margin: 50px;
        color: #16161a;
    }

    .cardrecord-1 {
        @include grid-item (1 , 5, 2 , 3);
        margin: 20px;
    }

    .cardrecord-2 {
        @include grid-item (1 , 5, 3 , 4);
        margin: 20px;
}

    .cardrecord-3 {
        @include grid-item (1 , 5, 4 , 5);
        margin: 20px;
    }

    .record-index div img {
        border-radius: 15%;
    }

            /*MAIN de Tours*/ 
    .tourinicio {
        @include flex(none, none, #8a94ac, flex, space-between, none);
        flex-direction: row;
        padding: 30px;
    }

    .tourinicio img {
        border-radius: 20px;
    }
        
    .tourindex h1 { 
        @include parrafo (50px, $fontfamilyh1, #16161a);
        @include diseñoparrafo (20px, underline, double, #3c4049, 30px)
    }

    .tourindex article { 
        @include parrafo (30px, $fontfamilytext, none)
    }

    .tourindex {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-left: 20px;
        padding-right: 30px
    }

            /*MAIN de Streaming*/
    .footerstreaming{
        height: 100%; 
    }