main {
    background-image: linear-gradient(to bottom,  #00C9AA, #C4FCF0, #4C8077)
}

            /*MAIN DEL INDEX */

    .card{ 
        border-radius: 50px; 
        margin: 20px;
    }

    .card:hover {
        transform: scale(1.5)
    }

    .textindex{ 
        @include parrafo (23px, $fontfamilyh1, #16161a);
        margin-left: 20px;
        text-align: left; 
    }
    
    .textindex::first-letter {
        @include parrafo (50px, $fontfamilyh1,rgb(41, 41, 240));
    }
    
    .imageindex1 {
        border-radius: 40px;
    }
    
    .maingrid {
        @include grid (grid, 100%, 1400px, repeat(6, 1fr), repeat(6, 1fr));
    }
    
    .item1 {
        /*navbar*/ @include grid-item (1, 2, 2, 3);
        align-self: center;
        padding: 20px;
    }
        
    .item2 {
        /*imaganes de artistas*/ @include grid-item (1, 7, 1, 2); 
        @include flex (none, 150px, none, flex, space-between, center)
    }

    
    .item3 {/*textoprincipal*/ 
        @include grid-item (2, 5, 2, 3);
        width: 100%;
    }
    
    .item4 {
        /* imagen principal*/ @include grid-item (6, 7, 2, 3);
        padding-right: 20px;
    }
    
    .item5 { 
        /*texto de fondo*/ @include grid-item  (1, 3, 4, 5);
        @include parrafo (35px, $fontfamilytext, #16161a);
        margin: 20px
    }

    .item6 {
        /*spotify*/ @include grid-item ( 5, 7, 4 , 5);
        margin: 20px
    }
    
    .item7 { 
        /*imagen de fondo*/ @include grid-item (1, 7, 6, 7);
    }

        
        /*Main de Album*/
    
    .albumgrid { /*grid de la pagina album*/ 
        @include grid ( grid, 100%, 2000px, repeat(3, 1fr,), repeat(6, 1fr))
    }
        /* card o secciones de la pagina album */

    .textalbumpri ::first-letter {
        @include parrafo (50px, $fontfamilyh1,rgb(41, 41, 240));
    }

    .alcar { /*Sección secunario dnde se desgloza el album, su imagen y breve reseña musical*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        padding: 1px 30px; 
        }
        
    .alcar article { 
        @include parrafo (30px, $fontfamilyh1, #16161a ) 
        }

    .alcar p {
        @include parrafo (35px, $fontfamilytext, red)
        }
    
    .alcar img:hover {
        transform: rotate(40deg);
    }

    .albumnav { /* nav bar de la pagina album*/
        @include grid-item (1 , 2, 1 , 2);
        align-self: center;
        padding: 20px; 
    }

    .textalbumpri {
        @include parrafo (20px, $fontfamilyh1, #16161a);
        text-align: center;
        display: flex;
        align-self: center;
        @include grid-item (2 , 3, 1 , 2)
    }

    .imgalbumm {
        @include grid-item (3 , 4, 1, 2);
        width: 100%;
        padding: 20px;
    }

    .albumcard1 { 
        @include grid-item (1 , 4, 2 , 3) 
    }

    .albumcard2 { 
        @include grid-item (1 , 4,  3, 4) 
    }

    .albumcard3 { 
        @include grid-item (1 , 4, 4 , 5) 
    }

    .albumcard4 { 
        @include grid-item (1 , 4, 5 , 6) 
    }

    .albumcard5 { 
        @include grid-item (1 , 4, 6 , 7) 
    }


            /*MAIN de Records*/
    
    .record-index { /*Grid de la pagina record*/
        @include grid (grid, 100%, 2500px, repeat(3, 1fr), repeat(5, 1fr));
    }

    .htextpri h1::first-letter{ 
        @include parrafo (40px, none, rgb(41, 41, 240))
    }

    .record-index article { /*texto de la descripcion de los diferentes records*/
        @include parrafo (30px, $fontfamilytext, #16161a)
    }

    .navbar-record { 
        @include grid-item (1 , 2, 1 , 2);
        color: #16161a;
        margin: 30px;
        padding: 20px;
    }

    .htextpri { /*texto inicial de la pagina*/
        @include parrafo (20px, $fontfamilyh1, #16161a);
        @include grid-item (2, 3, 1 , 2);
        display: flex;
        align-items: center;
        text-align: center
    }

    .record-index img { /*imagen inicial de la pagina*/
        @include grid-item (3, 4, 1 , 2);
        height: 400px;
        margin: 20px;
        display: flex;
    }

    .cardrecord-1 {
        @include grid-item (1 , 4, 2 , 3);
        margin: 20px;
    }

    .cardrecord-2 {
        @include grid-item (1 , 4, 3 , 4);
        margin: 20px;
}

    .cardrecord-3 {
        @include grid-item (1 , 4, 4 , 5);
        margin: 20px;
    }

            /*MAIN de Tours*/ 
    .tourinicio {
        @include flex(none, none, none, flex, space-between, none);
        flex-direction: row;
        padding: 30px;
    }

    .tourinicio img {
        border-radius: 20px;
    }
        
    .tourindex h1 { 
        @include parrafo (50px, $fontfamilyh1, #16161a);
        @include diseñoparrafo (20px, underline, double, #3c4049, 30px)
    }

    .tourindex article { 
        @include parrafo (30px, $fontfamilytext, none)
    }

    .tourindex {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-left: 20px;
        padding-right: 30px
    }

            /*MAIN de Streaming*/

    .streamingindex {
        padding: 20px;
    }

    .parrafeiniciostre {
        @include parrafo (30px, $fontfamilyh1, #16161a);
        text-align: center;
    }