@media (max-width: 1024px) {
            /*INDEX*/

    .header-index {
        height: 340px;
    }

    .header-index h1 {
        /*titulo principail*/
        font-size: 60px;
    }

    .item2 {
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .imageindex1 {
    height: 500px;
    }
    
            /*ALBUM*/

    /* .albuminicio h1 {
        font-size: 30px;
    }

    .alcar p {
        @include parrafo (40px, none, none)
    }

    .alcar article {
        @include parrafo (25px, none, none)
    } 
            /*RECORDS
    
    .imgrecordinicio {
        height: 200px;
        }
    
    .record-inicio h1 {
        @include parrafo (30px, $fontfamilymedia, none) 
        }
    
            /*STREAMING
    .footerstreaming {
        height: 200px;
    } */





}



