@media (max-width: 425px){

    .parrafe {
        @include parrafo (16px, $fontfamilymedia, none )
    }
    .header-index h1 {
        font-size: 40px;
    }
    .maingrid {
        @include flex(100%, 2000px, none, flex, center, center);
        flex-direction: column;
        gap: 50px;
    }

    .textindexs {
        @include parrafo (20px, $fontfamilymedia, #16161a)
    }

            /*ALBUM*/
    .albumgrid {
        @include flex (100%, 3400px, none, flex, center, center);
        flex-direction: column;
    }

    .albuminicio {
        @include flexmedia (flex, column);
        align-items: center;
    }

    .alcar {
        @include flexmedia (flex, column)
    }

            /*RECORD*/
    
    .record-index {
        height: 4000px;
        gap: 20px;
    }

    .record-index article {
        @include parrafo (15, $fontfamilymedia, none)
    }

    .navbar {
        font-size: 42px;
        width: 300px;
        height: 500px;
        padding-top: none; /*TOMA MUCHO ESPACIO*/
    }

    .record-inicio {
        @include flexmedia (flex, column)
    }
    .imgrecordinicio {
        width: 60px;
        height: 60px;
    }

            /*STREAMING*/
    .parrafeemail {
        @include parrafo (18px, $fontfamilymedia, none)
    }

            /*TOURS*/
    .toursindex img {
        width: 100%;
    }
    
}




