@media (max-width: 425px){
        /*Header*/
    .header-index{
        height: 350px;
    }

    .header-index h1 {
        font-size: 45px
    }

    .parrafeindex {
        font-size: 60px;
        font-family: $fontfamilyh1;
        text-align: center;
    }

        /*FOOTER*/
    .footer-index {
        @include flex (100%, 250px, none, flex, center, center);
        flex-direction: column;
    }

                /*INDEX*/
    
    .maingrid {
        @include flex(100%, 2900px, none, flex, center, center);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 50px;
    }

    .imagenportada {
        display: flex;
        flex-wrap: wrap;
    }

            /*ALBUM*/
    .albumgrid {
        @include flex (100%, 5400px, none, flex, center, center);
        flex-direction: column;
    }

    .albuminicio {
        @include flexmedia (flex, column);
        align-items: center;
    }

    .alcar {
        @include flexmedia (flex, column)
    }

    .textalbumpri {
        margin: 20px
    }

            /*RECORD*/
    
    .record-index { 
        @include flex (100%, 100%, none, flex, center, center);
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    .imgrecordinicio {
        width: 80%;
    }

    .cardrere {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .cardrere img {
        width: 90%;
    }

            /*STREAMING*/
    
    .parrafeemail {
        @include parrafo (18px, $fontfamilymedia, none)
    }


            /*TOURS*/
    .toursindex img {
        width: 80%; 
    }
    
}




