@media (max-width: 1024px) {
            /*INDEX*/

    .header-index {
        height: 340px;
    }

    .header-index h1 {
        /*titulo principail*/
        font-size: 60px;
    }

    .item2 {
        grid-column-start: 1;
        grid-column-end: 7;
    }

    .imageindex1 {
    height: 500px;
    }
    

}



