/*Estilos generales del li*/
    li a {  
    text-decoration: none;
    color: black;
    }

    li  {   
    list-style: none; /*el list-style aplicarlo solo a la list, no al anchors*/
    }

    .navbar {   
        @include parrafo (40px, $fontfamilyh1, #16161a) }

    .navbar { 
        @include flex (260px, 500px, #364DCC, flex, center, center) }
        
    .navbar {
    flex-direction: column;
    gap: 20px 20px;
    padding-left: 20px
    }
